@charset "UTF-8";

article,aside,footer,head,main,nav,section{
	display:block;	
}

html,body,h1,h2,h3,ul,li,a,p,article,aside,footer,header,main,nav,section{
	padding:0;
	margin:0;
}

.newStyle{
	font:italic 12pt arial;
	text-decoration: underline;
	background-color:#e4d432;
}

.defaultStyle{
	font:normal 12pt arial;
	text-decoration: none;
	background-color:#bbbbbb;
}

.myStyle{
	border:solid;
	font-family: arial;
	left:200px;
	right:200px;
}

.banner{
	background-color: #11233b;
	color:white;
	padding:10px 20px;
}

body{
	width:960px;
	margin-left:auto;
	margin-right:auto;
	background-color:#f0f0f0;
	font-family:Helvetica,Arial,sans-serif;
	font-size:15px;
}

.nav_tag{
	background-color:#20416c;
	padding:5px;
	margin-top:1px;
}

li a{
	color:white;
	text-decoration:none;
	padding-left:10px;
	padding-right:10px;
}


li{
	display:inline;
	margin-left:15px;
	margin-right:15px;
	font-size:20px;
	font-variant:small-caps;
	font-weight:bold;
	padding-left:10px;
	padding-right:10px;
}

li.highlighted a {
	background-color:#ffaa00;
	color:black;
	text-decoration:none;
	padding-left:10px;
	padding-right:10px;
}

li a:hover{
	background-color:#ffaa00;
	color:black;
	text-decoration:none;
	padding-left:10px;
	padding-right:10px;
}

.section_tag{
	background-color:#bbbbbb;
	margin-top:10px;
	padding:5px;
}

article{
	background-color:white;
	margin-top:5px;
	padding:10px 15px;
}

.article_tag{
	background-color:white;
	margin-top:5px;
	padding:10px 15px;
}

main{
	width:640px;
	float:left;
	margin-bottom:10px;
}

aside{
	background-color:#bbbbbb;
	width:270px;
	float:right;
	padding:20px;
	margin-top:10px;
}

footer{
	clear:both;
	background-color:#20416c;
	color:white;
	padding:5px 20px;
}